.about-container {
    display: flex;
    flex-direction: row;
}

.about-right {
    width: 50vw;
}

.about-left {
    width: 50vw;
    padding-left: 30px;
    padding-right: 30px;
}

.korean-text {
    color: #990000;
    font-weight: 700;
}

.english-text {
    color: #38761d;
    font-weight: 700;
}
