.contact-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.contact-container {
    display: flex;
    flex-direction: row;
    font-family: 'FjallaOne';
    justify-content: space-around;
    list-style-type: none;
}

.contact-header {
    font-family: 'FjallaOne';
}

.social-icon {
    height: 30px;
    width: 30px;
}
