.products-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    font-size: 1.25rem;
}

.products-category {
    width: 25vw;
    font-family: "FjallaOne";
}
