/* TODO: Add sitewide styles */
body {
    height: 100vh;
    min-height: 720px;
    min-width: 1280px;
    margin: 0;
}

#root {
    height: 100%;
}

@media screen and (max-width: 480px){
    body {
        font-size: 12px;
        width: 100vw;
    }
}
